Flask
gunicorn==20.1.0
aiohttp==3.8.1
pyrogram
ffmpeg
tgcrypto
requests
pyromod==1.5
yt-dlp
aiohttp
aiofiles
humansize
opencv-python-headless
psutil
speedtest-cli 
jinja2
pytube
moviepy
bs4
pyshorteners
